nz-input-group input {
  width: 50%;
}
nz-input-group nz-date-picker {
  width: 130px;
}
nz-input-group button {
  margin-left: 3%;
  width: 17%;
}
.alert {
  height: 30px;
  width: 100%;
  color: #ff4d4f;
  font-size: 12px;
  padding: 5px 2px;
  user-select: none;
}
.alert span {
  display: block;
}
